* {
  background: darkslategrey;
  font-family: 'helvetica', 'arial', sans-serif;
  font-size: 1.1em;
}

fieldset {
  border: 1px, outset, black;
  border-radius: 7%;
  width: 1000px;
  height: 450px;
  background: #C0C0C0;
  background: linear-gradient( lightblue, lavenderblush, linen, linen, lavenderblush, lightblue);
  padding: 2em;
  margin: 3em;
  border:1px solid #999;
	box-shadow:0 0 50px black;

}

select, input {
  background: ivory;
  margin-bottom: 1em;
}

label, a {
  background: none;
  font-family: 'Everson Mono', 'Consolas', monospace;
  text-decoration: shadow;
  text-shadow: 0px 0px 3px black;
  color: darkslategrey
}

#mInit {
  width: 2.4em;
}

#fName {
  width: 380px
}
#lName {
  width: 480px;
}
#cNumber {
  width: 800px;
}

label[for='secNumber'] {
  margin-left: 115px;

}

#secNumber {
  margin-left:65px;
  width: 220px;
}

#cardType {
  margin-bottom: 2em;
}

input[type='submit'] {
  margin-left: 210px;
  color: cyan;
  background: darkslategrey;
  width: 6em;
  height: 2em;
  border-radius: 17%;
}

input[type='submit']:hover {
  color: purple;
  background: cornflowerblue;
}

input[type='submit']:active {
  color: white;
  background: grey;
}
